@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "variables.css";
body {
  font-family: "Lato", sans-serif;
}

.welcome-header {
  margin: 73px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header__title {
  margin-bottom: 26px;
  font-size: 26px;
  font-weight: 400;
}
.welcome-header__text {
  width: 35%;
  opacity: 0.6;
  font-weight: 400;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 23px;
}
#login-form input {
  padding: 13px 0px;
  border: none;
  font-size: 17px;
  margin-bottom: 34px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.23);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.38);
}
#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  font-size: 17px;
  padding: 18px 0px;
  border-radius: 5px;
}
#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 15px;
}
